* {
  font-family: "Roboto Condensed", sans-serif;
}

root {
  font-size: 10px;
}

.body {
  width: 100vw;
}

.body-wrapper {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  /* background-color: orangered; */
  padding: 20px 0;
  height: 50px;
}

.logo {
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
  flex: 0 0 30%;
}

.logo--lighter {
  color: gray;
}

.nav-block {
  margin: 0;
}

.nav-block__item {
  display: inline;
}

.burger {
  margin-left: auto;
  border: 1px black solid;
  width: 30px;
  height: 30px;
}

.burger__lines {
  width: 100%;
  border-bottom: 2px black solid;
  height: 0;
  margin: 0;
  padding: 0;
  display: block;
}

.burger__lines:first-of-type {
  margin-top: 15px;
}

.hero {
  /* border: 1px green solid; */
  height: calc(100vh - 50px);
}

.yo-slider {
  position: relative;
  border: 1px blue solid;
  height: 100%;
}

.yo-slider__item {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.yo-slider__item.active {
  visibility: visible;
  opacity: 1;
}

.yo-slider__left {
  flex: 0 0 30%;
  position: relative;
}

.yo-slider__title {
  position: absolute;
  top: 10rem;
  font-size: 2rem;
}

.title__subtitle {
  text-transform: uppercase;
  font-size: 2rem;
}

.title__name {
  font-size: 5rem;
  margin: 0;
  text-transform: capitalize;
}

.yo-slider__img {
  font-size: 0;
}

.yo-slider__img .img {
  width: 100%;
  object-fit: cover;
}

.yo-slider__controls {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.button {
  margin: 0.5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 0px;
}

.button__prev {
  background-color: green;
}
.button__next {
  background-color: red;
}

.button__img {
  line-height: 100%;
  text-align: center;
  height: 70%;
}
